<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="dao.DealDao">
	<select id="selectAll" parameterType="java.util.HashMap" resultType="Board">
		select * from board where writer=#{id} order by no desc limit #{page}, 8
	</select>
	
	<select id="selectAllManager" parameterType="java.util.HashMap" resultType="Board">
		select * from board order by no desc limit #{page}, 8
	</select>
	
	<select id="selectOneBoard" parameterType="int" resultType="String">
		select title from board where no=#{no}
	</select>
	
	<select id="totalPageSelling" parameterType="String" resultType="int">
		select count(no) from board where writer=#{id}
	</select>
	
	<select id="totalPageSellingManager" resultType="int">
		select count(no) from board
	</select>
	
	<select id="purchaseCount" parameterType="int" resultType="int">
		select count(no) from purchase where state=0 and no=#{no}
	</select>
	
	<select id="purchase" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where purchaser=#{id} and state in(0, 1, 2, 10, 11) order by purchase_no limit #{page}, 8
	</select>
	
	<select id="purchaseManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state in(0, 1, 2, 10, 11) order by purchase_no desc limit #{page}, 8
	</select>
	
	<select id="totalPagePurchaseManager" resultType="int">
		select count(purchase_no) from purchase where state in(0, 1, 2, 10, 11)
	</select>
	
	<select id="purchaseList" parameterType="int" resultType="Purchase">
		select * from purchase where no=#{no} and state in(0, 1, 2)
	</select>
	
	<select id="purchaseOption" parameterType="int" resultType="PurchaseOption">
		select * from purchase_option where no=#{no}
	</select>
	
	<update id="progressState">
		update purchase set state=#{state} where purchase_no=#{purchase_no}
	</update>
	
	<select id="boardInfo" parameterType="int" resultType="Board">
		select * from board where no=#{no}
	</select>
	
	<select id="recordCashInfo" parameterType="java.util.HashMap" resultType="int">
		select no from purchase where purchase_no=#{purchase_no}
	</select>
	
	<select id="ongoingPurcharse" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where no in(select no from board where writer=#{id}) and state=10 order by purchase_no desc limit #{page}, 8
	</select>
	
	<select id="ongoingPurcharseManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state=10 order by purchase_no desc limit #{page}, 8
	</select>
	
	<select id="totalPageOngoing" parameterType="String" resultType="int">
		select count(no) from purchase where no in(select no from board where writer=#{id}) and state=10
	</select>
	
	<select id="totalPageOngoingManager" resultType="int">
		select count(no) from purchase where state=10
	</select>
	
	<select id="completionPurcharse" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where no in(select no from board where writer=#{id}) and state in(11,20,30) order by purchase_no desc limit #{page}, 8 
	</select>
	
	<select id="completionPurcharseManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state in(11,20,30) order by purchase_no desc limit #{page}, 8 
	</select>
	
	<select id="totalPageCompletion" parameterType="String" resultType="int">
		select count(no) from purchase where no in(select no from board where writer=#{id}) and state in(11,20,30)
	</select>
	
	<select id="totalPageCompletionManager" resultType="int">
		select count(no) from purchase where state in(11,20,30)
	</select>
	
	<select id="purchaseComplete" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where purchaser=#{id} and state in(20, 30) order by purchase_no limit #{page}, 8
	</select>
	
	<select id="totalPagePurchaseComplete" parameterType="String" resultType="int">
		select count(purchase_no) from purchase where purchaser=#{id} and state in(20, 30)
	</select>
	
	<select id="totalPagePurchase" parameterType="String" resultType="int">
		select count(purchase_no) from purchase where purchaser=#{id} and state in(0, 1, 2, 10, 11)
	</select>
	
	<select id="purchaseCompleteManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state in(20, 30) order by purchase_no desc limit #{page}, 8
	</select>
	
	<select id="totalPagePurchaseCompleteManager"  resultType="int">
		select count(purchase_no) from purchase where state in(20, 30)
	</select>
	
	<select id="purchaseCanceledManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state in(40,41,42) order by purchase_no desc limit #{page}, 8
	</select>
	
	<select id="totalPagePurchaseCanceledManager"  resultType="int">
		select count(purchase_no) from purchase where state in(40,41,42)
	</select>
	
	<select id="canceledPurcharse" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where no in(select no from board where writer=#{id}) and state in(40,41,42) order by purchase_no desc limit #{page}, 8 
	</select>
	
	<select id="canceledPurcharseManager" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where state in(40,41,42) order by purchase_no desc limit #{page}, 8 
	</select>
	
	<select id="totalPageCanceled" parameterType="String" resultType="int">
		select count(no) from purchase where no in(select no from board where writer=#{id}) and state in(40,41,42)
	</select>
	
	<select id="totalPageCanceledManager" parameterType="String" resultType="int">
		select count(no) from purchase where state in(40,41,42)
	</select>
	
	<update id="calculate" parameterType="java.util.HashMap">
		update profile set balance=balance+#{amount} where id=#{id}
	</update>
	
	<insert id="recordCash" parameterType="java.util.HashMap">
		insert into cash values(0, #{id}, sysdate(), #{amount}, #{balance}, #{title}, #{state})
	</insert>
	
	<select id="purchaseCanceled" parameterType="java.util.HashMap" resultType="Purchase">
		select * from purchase where purchaser=#{id} and state in(40,41,42) order by purchase_no limit #{page}, 8
	</select>
	
	<select id="totalPagePurchaseCanceled" parameterType="String" resultType="int">
		select count(purchase_no) from purchase where purchaser=#{id} and state in(40,41,42)
	</select>
	
	
<!-- 	연경 -->
	<insert id="insertPurchase" parameterType="Purchase">
		insert into purchase values(0, #{no}, #{purchaser}, 0, sysdate())
		 <selectKey keyProperty="purchase_no" order="AFTER" resultType="int">
 			select max(purchase_no) as purchase_no from purchase
 		</selectKey>
	</insert>
	
	
	<insert id="insertPurchaseOption" parameterType="PurchaseOption">
		insert into purchase_option values(0, #{no}, #{kind}, #{price}, #{amount})
	</insert>
	
	<update id="minusCash" parameterType="java.util.HashMap">
		update profile set balance=balance-#{totalPrice} where id=#{id}
	</update>
	
	<insert id="insertStar_point" parameterType="java.util.HashMap">
		insert into star_point values(0, #{board_no}, #{purchase}, #{content}, #{star}, sysdate(), #{nickname})
	</insert>
	
	
	<select id="optionTotal" parameterType="int" resultType="int">
		select sum(price) from purchase_option where no=#{no}
	</select>
	
	<select id="purchaseName" parameterType="int" resultType="String">
		select purchaser from purchase where purchase_no=#{no}
	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 