<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="dao.EmailInfoDao">
  
 <insert id="EmailInfoInsert" parameterType="EmailInfo">
 insert into emailinfo values (#{Emailno},#{Email}, #{nickName}, #{Admin})
 </insert>
 
 <update id="EmailInfoUpdate" parameterType="EmailInfo">
 update emailinfo set Email=#{Email}, nickName=#{nickName}, admin=#{Admin} where Emailno=#{Emailno} 
 </update>  
   
 </mapper>