<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="dao.MemberDao">
 
 <select id="selectOne" parameterType="String" resultType="Member">
 	select * from profile where id=#{id}
 </select>
 
 <select id="selectAll"  resultType="Member">
 	select * from profile
 </select>
 
 <!-- 추가한부분 -->
 
  <insert id="memberInsert" parameterType="Member">
 	insert into member values(#{id},#{nickname},#{photo},#{balance},#{admin})
  </insert>
 
 
 <!-- 추가한부분 -->
 
 
 <update id="memberUpdate" parameterType="Member">
 	update profile set nickname=#{nickname}, photo=#{photo}, balance=#{balance}, admin=#{admin} where id=#{id}
 </update>
 
 <delete id="memberDelete" parameterType="String">
 	delete from profile where id=#{id}
 </delete>
 
 <update id="refillCash" parameterType="Member">
 	update profile set balance=#{balance} where id=#{id}
 </update>
 
 <insert id="cashRecord" parameterType="Member">
	insert into cash values(0, #{id}, sysdate(), #{amount}, #{balance}, #{code}, 1)
 </insert>
 
 <select id="cashList" parameterType="java.util.HashMap" resultType="CashRecord">
 	select * from cash where id=#{id} order by no desc limit #{page}, 10
 </select>
 
 <insert id="exchange" parameterType="java.util.HashMap">
 	insert into exchange values(0, sysdate(), #{amount}, #{balance}, 1, #{id})
 </insert>
 
 <update id="changeBalance" parameterType="java.util.HashMap">
 	update profile set balance=#{balance} where id=#{id}
 </update>
 
 <select id="exchangeList" parameterType="java.util.HashMap" resultType="Exchange">
 	select * from exchange where id=#{id} order by no desc limit #{page}, 10
 </select>
 
 <update id="exchangeManager" parameterType="java.util.HashMap">
 	update exchange set state=#{state} where no=#{no}
 </update>
 
 <select id="messageList" parameterType="String" resultType="Message">
 	select * from message where receiver=#{id}
 </select>
 
 <update id="messageState" parameterType="int">
 	update message set state=2 where no=#{no}
 </update>
 
 <select id="messageDetail" parameterType="int" resultType="Message">
 	select * from message where no=#{no}
 </select>
 
 <insert id="messageSend" parameterType="Message">
 	insert into message values(0, #{sender}, #{receiver}, #{title}, #{content}, 1, sysdate())
 </insert>
 
 <insert id="authorityReg" parameterType="java.util.HashMap">
 	insert into authority values(0, #{id}, #{category_no}, sysdate(), 1)
 	
 	<selectKey keyProperty="no" order="AFTER" resultType="int">
       	SELECT MAX(no) AS no FROM authority
   	</selectKey>
 </insert>
 
 <insert id="authorityFiles" parameterType="java.util.HashMap">
 	insert into authority_file values(0, #{no}, #{id}, #{file1}, #{file2}, #{file3})
 </insert>

 <select id="authorityList" parameterType="java.util.HashMap" resultType="Authority">
 	select * from authority where id=#{id} order by no limit #{page}, 7
 </select>
 
 <select id="totalPageAuthority" parameterType="java.util.HashMap" resultType="int">
 	select count(no) from authority where id=#{id}
 </select>
 
 <select id="authorityAll" parameterType="java.util.HashMap" resultType="Authority">
 	select authority.no as no, authority.id as id, authority.category_no as category_no, authority.date as date, authority.state as state, authority_file.file1 as file1, authority_file.file2 as file2, authority_file.file3 as file3
	from authority join authority_file
	on authority.no = authority_file.authority_no 
	where state=1 order by no desc limit #{page}, 7
 </select>
 
 <select id="allTotalPageAuthority" resultType="int">
 	select count(no) from authority
 </select>
 
 <update id="authorityUpdate" parameterType="java.util.HashMap">
 	update authority set state=#{state} where no=#{no}
 </update>
 
 <delete id="authorityDelete" parameterType="int">
 	delete from authority where no=#{no}
 </delete> 
 
 <select id="authorityDetail" parameterType="int" resultType="Authority">
 	select * from authority_file where authority_no=#{no}
 </select>

 <select id="totalPageCash" parameterType="String" resultType="int">
 	select count(no) from cash where id=#{id}
 </select>

 <select id="totalPageExchange" parameterType="String" resultType="int">
 	select count(no) from exchange where id=#{id}
 </select>

 <select id="allCashList" parameterType="int" resultType="CashRecord">
	select * from cash order by no desc limit #{page}, 10 
 </select>
 
 <select id="allTotalPageCash" resultType="int">
 	select count(no) from cash
 </select>
 
 
 <select id="allExchangeList" parameterType="java.util.HashMap" resultType="Exchange">
 	select * from exchange order by no desc limit #{page}, 6
 </select>

 <select id="allTotalPageExchange" resultType="int">
 	select count(no) from exchange
 </select>
 
 <select id="getMessageCount" parameterType="String" resultType="int">
 	select count(*) from message
 	where sender=#{id}
 	and state=1
 </select>
 
 <select id="getMessage" parameterType="String" resultType="Message">
 	select * from message
 	where sender=#{id}
 	and state=1
 </select>
 
 <select id="countSelling" parameterType="String" resultType="int">
 	select count(no) from board where writer=#{id} and state in(0,1,2)
 </select>
 
 <select id="countPurchase" parameterType="String" resultType="int">
 	select count(purchase_no) from purchase where purchaser=#{id} and state in(0,10,11)
 </select>
 
 <update id="returnBalance" parameterType="java.util.HashMap">
 	update profile set balance=balance + #{total} where nickname=#{purchaser}
 </update>
 
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 